<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket Booking System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Ticket Booking System</h1>
        {% if not session.get('logged_in') %}
            <!-- Login Form -->
            <div class="login-container">
                <img src="{{ url_for('static', filename='images/login_image.jpg') }}" alt="Login Image" class="login-image">
                <h2 class="login-title">Login</h2>
                <form action="/login" method="post" class="login-form">
                    <input type="text" id="username" name="username" placeholder="Username" required>
                    <input type="password" id="password" name="password" placeholder="Password" required>
                    <button type="submit">Login</button>
                    <a href="/forgot-password" class="forgot-password-button">Forgot Password?</a>
                </form>
            </div>
        {% else %}
            <div class="movie-container">
                <h2>Available Movies</h2>
                <div class="movie-images">
                    <img src="{{ url_for('static', filename='images/movie1.jpg') }}" alt="Movie 1" class="movie-image">
                    <img src="{{ url_for('static', filename='images/movie2.jpg') }}" alt="Movie 2" class="movie-image">
                    <img src="{{ url_for('static', filename='images/movie3.jpg') }}" alt="Movie 3" class="movie-image">
                    <img src="{{ url_for('static', filename='images/movie4.jpg') }}" alt="Movie 4" class="movie-image">
                    <img src="{{ url_for('static', filename='images/movie5.jpg') }}" alt="Movie 5" class="movie-image">
                </div>
                <h2>Your Booked Tickets</h2>
                <ul>
                    {% for ticket in booked_tickets %}
                        <li>{{ ticket }}</li>
                    {% endfor %}
                </ul>
                <a href="/logout">Logout</a>
            </div>
        {% endif %}
    </div>
</body>
</html>
