<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Available Movies</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body >
    <div class="container">
        <h1>Available Movies</h1>
        <div class="movie-container">
            <div class="holder">
                <div class="hol">
                    <img src="{{ url_for('static', filename='images/movie1.jpg') }}" alt="Movie 1" class="movie-image">
                    <a href="/book1"><button class="btn">Book Now</button></a>
                </div>
                <div class="context"><p>Rating:9.7/10.0</p></div>
                <div class="star-rating">
                    <i class="fas fa-star filled"></i>
                    <i class="fas fa-star filled"></i>
                    <i class="fas fa-star filled"></i>
                    <i class="fas fa-star filled"></i>
                    <i class="fas fa-star filled"></i>
                </div>
            </div>
            <div class="holder">
                <div class="hol">
                    <img style="object-fit:cover;"src="{{ url_for('static', filename='images/movie2.jpg') }}" alt="Movie 2" class="movie-image">
                    <a href="/book2"><button class="btn">Book Now</button></a>
                </div>
                <div class="context"><p>Rating:9.5/10.0</p></div>
                <div class="star-rating">
                    <i class="fas fa-star filled"></i>
                    <i class="fas fa-star filled"></i>
                    <i class="fas fa-star filled"></i>
                    <i class="fas fa-star filled"></i>
                    <i class="fas fa-star filled"></i>
                </div>
               
            </div>
            <div class="holder">
                <div class="hol">
                    <img src="{{ url_for('static', filename='images/movie3.jpg') }}" alt="Movie 3" class="movie-image">
                    <a href="/book3"><button class="btn">Book Now</button></a>
                </div>
                <div class="context"><p>Rating:9.8/10.0</p></div>
                <div class="star-rating">
                    <i class="fas fa-star filled"></i>
                    <i class="fas fa-star filled"></i>
                    <i class="fas fa-star filled"></i>
                    <i class="fas fa-star filled"></i>
                    <i class="fas fa-star filled"></i>
                </div>
            </div>
            <div class="holder">
                <div class="hol">
                    <img src="{{ url_for('static', filename='images/movie4.jpg') }}" alt="Movie 4" class="movie-image">
                    <a href="/book4"><button class="btn">Book Now</button></a>
                </div>
                 <div class="context"><p>Rating:9.6/10.0</p></div>
                 <div class="star-rating">
                    <i class="fas fa-star filled"></i>
                    <i class="fas fa-star filled"></i>
                    <i class="fas fa-star filled"></i>
                    <i class="fas fa-star filled"></i>
                    <i class="fas fa-star filled"></i>
                </div>                
            </div>
        </div>
        <a href="/logout" class="log">Logout</a>
    </div>
</body>
</html>
