body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 20px;
    height: auto;
}

.container {
    padding: 20px;
    border-bottom: 2px solid white;
}

.name {
    margin-top: 20px;
    margin-bottom: 30px;
}

.content-wrapper {
    display: flex;
    align-items: flex-start;
}

.img1 {
    margin-right: 20px;
}

.img1 img {
    position: absolute;
    width: 400px;
    top: 4%;
    right: 2%;
}

.cont {
    max-width: 70%; 
}

.abt {
    margin-top: 0;
}

.des {
    margin-bottom: 20px;
}

.abt p {
    margin: 0;
}
.btn{
    height: 40px;
    width: 100px;
    color:white;
    background-color: orange;
    margin-left: 30px;
    font-size: 20px;
    border: none;
    padding: 5px;
}
